
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  
  background-image: url('http://i40.tinypic.com/sdg460.jpg');
  background-size: cover;
  background-repeat: none;

}

.hidden {

  display: none;
}

#mainWell {
  display: table;
  margin: 25% 25% 25% 25%;
  border-radius: 50px;
/*  height: 450px;
  width: 300px;*/
  text-align: center;
  font-family: Roboto;
}

.currentCity {
font-size: 25px;
font-weight: bold;
font-family: times;

}

#iconImage {
border-top: 200px;

}

#border1 {
  border-top: dashed;
  border-width: 1px;
  margin-bottom: 10px;
}

#currentArea {
  margin-top: 2px;
  padding-top: 20px;
}

#temp {
  font-size: 20px;
  padding: 1%;
  padding-top: 0!important;
}

#currentState {
  margin-bottom: 8px;

}

#currentArea {
  margin-bottom: 0;
}

.glyphicon {
margin-bottom: 7%;
margin-top: -10px;

}

#humidity {
  text-align: left;

}

#windSpeed {
text-align: left;
}

#uv {
  text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {

/*padding-right: 10px;*/
text-align: left;
border-bottom: 1px solid #ddd;

}


